/*configuracoes da pagina fique por dentro*/

#main-fique-por-dentro{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center
}
.news{
    width: 80%;
}

.imagem-texto-fpd{
    display: flex;
    flex-direction: column;
}

.imagem-texto-fpd{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.imagem-texto-fpd img{
    max-width: 500px;
}

.imagem-texto-fpd h2{
    width: 80%;
}

.noticia-container{
    margin: 20px 0px;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    background-color: var(--cor_800);
    padding: 20px;
    border-radius: 5px;
}

.texto-fpd{
    width: 50%;
}


  /*configuracoes do carrosel*/

  .top-bandas-container p{
    font-size: 1.2rem;
  }

  .top-bandas-ol-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 60px;
    margin-top: 20px;
  }

  .top-bandas-li-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  .top-bandas-li-container img{
    width: 100%;
    max-width: 200px;
    border-radius: 100px;
  }

  .top-bandas-ol-container a{
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--cor_50);
  } 